################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rest/EpicQrizzz.Quetions.Rest/.vs/EpicQrizzz.Quetions.Rest/FileContentIndex/7ee8cfeb-07ce-4c4f-85dc-3eedd78c325d.vsidx
