################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rest/EpicQrizzz.Questions.Rest/.vs/*
/Rest/EpicQrizzz.Users.Rest/.vs/*
/Rest/EpicQrizzz.Users.Rest/.vs/*
/Rest/EpicQrizzz.Questions.Rest/obj/*
/Rest/EpicQrizzz.Users.Rest/EpicQrizzz.Users.Rest/obj/*
/Rest/EpicQrizzz.Users.Rest/EpicQrizzz.Users.Rest/bin/*
/Rest/EpicQrizzz.Questions.Rest/bin/*
